.todoList {
  list-style-type: none;
}

.todoSuccessFeed {
}

.day {
  display: block;
  float: left;
  height: 130px;
  width: 75px;
  border: solid black 1px;
  border-radius: 5px;
  margin-right: 5px;
}
.dayText {
  text-align: center;
}