.todoList {
  list-style-type: none;
}

.day {
  display: inline-block;
  height: 130px;
  width: 75px;
  border: solid black 1px;
  border-radius: 5px;
  margin-right: 5px;
}

.yesterday1 {
  background-color: green;
}
.yesterday2 {
  background-color: red;
}
.yesterday3 {
  background-color: green
}